@charset "ISO-8859-1";
.area {
    display: none;
}

.text1 {
    font-family: "Roboto";
    font-size: 35px;
    margin-top:1.2%;
    color: #f1c319;
}

.contactus, .call, .mail, .location, .hpic {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}

.ref {
    margin-left: 40%;
}

#disArea {
    background-color: rgb(13, 143, 187);
    margin-left: 10%;
    margin-top: -3.5%;
    transition: .5s ease;
}

#disArea2 {
    background-color: rgb(13, 143, 187);
    margin-left: 10%;
    margin-top: 0%;
    transition: .1s ease;
}

.telephone, .email, .address {
    transition: transform .2s;
    
}

.telephone:hover, .email:hover, .address:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.tno  {
    margin-top: 6%;
    margin-left: 370px;
    font-size: 30px;
    display: none;
    color: white;
    font-style: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tno2 {
    margin-top: 6%;
    margin-left: 370px;
    font-size: 30px;
    display: none;
    color: white;
    font-style: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}


.showTel {
    display: none;
}



.contactus{
	background-color:#f1f2f2;
	width:80%;
	margin-left:10%;
	margin-top:3%;
	height:320px;
}